.logo2-image {
  margin-top: 20px;
  height: 300px; /* Ajusta el tamaño según tus necesidades */
  width: 300px; /* Asegúrate de que el ancho y la altura sean iguales para mantener la forma circular */
  border-radius: 50%; /* Esto hace que la imagen sea redonda */
}
